Repository enpaul/peewee-plus: changes, and which pre-commit hooks are due for each by the changed paths.
All: fix-encoding-pragma, reorder-python-imports, black, mdformat

.pre-commit-config.yaml:

---
repos:
  - repo: local
    hooks:
      - id: end-of-file-fixer
        name: end-of-file-fixer
        entry: end-of-file-fixer
        language: system
        types: [text]

      - id: fix-encoding-pragma
        name: fix-encoding-pragma
        entry: fix-encoding-pragma
        args:
          - "--remove"
        language: system
        types: [python]

      - id: trailing-whitespace-fixer
        name: trailing-whitespace-fixer
        entry: trailing-whitespace-fixer
        language: system
        types: [text]

      - id: check-merge-conflict
        name: check-merge-conflict
        entry: check-merge-conflict
        language: system
        types: [text]

      - id: reorder-python-imports
        name: reorder-python-imports
        entry: reorder-python-imports
        args:
          - "--unclassifiable-application-module=peewee_plus"
        language: system
        types: [python]

      - id: black
        name: black
        entry: black
        language: system
        types: [python]

      - id: blacken-docs
        name: blacken-docs
        entry: blacken-docs
        language: system
        types: [text]

      - id: mdformat
        name: mdformat
        entry: mdformat
        language: system
        args:
          - "--number"
          - "--wrap=90"
        types:
          - markdown

Fix py36 incompatibility with pathlib usage
  tests/fixtures.py
Due: fix-encoding-pragma, reorder-python-imports, black

Add PathField class for storing pathlib objects
  peewee_plus.py
  tests/fixtures.py
  tests/test_pathfield.py
Due: fix-encoding-pragma, reorder-python-imports, black

Add PrecisionFloatField for adding mysql precision parameters to float fields
  peewee_plus.py
  tests/test_precision_float_field.py
Due: fix-encoding-pragma, reorder-python-imports, black

Add JSONField for storing JSON data
  peewee_plus.py
  tests/test_jsonfield.py
Due: fix-encoding-pragma, reorder-python-imports, black

Add enum field for storing enum references in the database
  peewee_plus.py
  tests/test_enumfield.py
Due: fix-encoding-pragma, reorder-python-imports, black

Add function for calculating sqlite batch size
  peewee_plus.py
  tests/test_calc_batch_size.py
Due: fix-encoding-pragma, reorder-python-imports, black

Add default sqlite pragma dictionary
  peewee_plus.py
  tests/fixtures.py
Due: fix-encoding-pragma, reorder-python-imports, black

Add documentation for sqlite module constants
  peewee_plus.py
Due: fix-encoding-pragma, reorder-python-imports, black

Add metadata to __all__ export list
  peewee_plus.py
Due: fix-encoding-pragma, reorder-python-imports, black

Fix using dict constructor instead of literal in JSON field
  peewee_plus.py
Due: fix-encoding-pragma, reorder-python-imports, black

Bump version to 1.0.0
  peewee_plus.py
  pyproject.toml
Due: fix-encoding-pragma, reorder-python-imports, black

Add local pycache to clean target
  Makefile
Due: none

Add pypi metadata to pyproject
  pyproject.toml
Due: none

Add initial documentation
  CHANGELOG.md
  CODE_OF_CONDUCT.md
  README.md
Due: mdformat

Add flat transaction decorator function
  peewee_plus.py
Due: fix-encoding-pragma, reorder-python-imports, black

Bump feature version
  peewee_plus.py
  pyproject.toml
Due: fix-encoding-pragma, reorder-python-imports, black

Update changelog with version 1.1
  CHANGELOG.md
Due: mdformat

Update docs for new flat_transaction function
  README.md
Due: mdformat

Ensure NULL-able Enums don't raise peewee.IntegrityError
  peewee_plus.py
Due: fix-encoding-pragma, reorder-python-imports, black

Add github actions CI
  .github/scripts/setup-env.sh
  .github/workflows/ci.yaml
Due: none

Update transient dependencies
  poetry.lock
  pyproject.toml
Due: none

Add build status badge to readme
  README.md
Due: mdformat

Update black to stable release
  poetry.lock
  pyproject.toml
Due: none

Update name of check CI workflow to improve clarity
  .github/workflows/ci.yaml
  peewee_plus.py
Due: fix-encoding-pragma, reorder-python-imports, black

Update changelog with version 1.1.1
  CHANGELOG.md
Due: mdformat

Bump patch version
  peewee_plus.py
  pyproject.toml
Due: fix-encoding-pragma, reorder-python-imports, black

Add badge for downloads per month
  README.md
Due: mdformat

Update CI to run non-platform checks on python-3.10
  .github/workflows/ci.yaml
  tox.ini
Due: none

Remove support for python 3.6
  .github/scripts/setup-env.sh
  .github/workflows/ci.yaml
  Makefile
  peewee_plus.py
  poetry.lock
  pyproject.toml
  tox.ini
Due: fix-encoding-pragma, reorder-python-imports, black

Update changelog for version 1.2.0
  CHANGELOG.md
Due: mdformat
