Repository enpaul/peewee-plus: changes, and which pre-commit hooks are due for each by the changed paths.
All: fix-encoding-pragma, reorder-python-imports, black, mdformat

fix-encoding-pragma:
  name: fix-encoding-pragma
  entry: fix-encoding-pragma
  args:
  - --remove
  language: system

reorder-python-imports:
  name: reorder-python-imports
  entry: reorder-python-imports
  args:
  - --unclassifiable-application-module=peewee_plus
  language: system

black:
  name: black
  entry: black
  language: system

mdformat:
  name: mdformat
  entry: mdformat
  language: system
  args:
  - --number
  - --wrap=90

Clean up the tests
  tests/test_calc_batch_size.py
  tests/test_enum_field.py
  tests/test_json_field.py
  tests/test_path_field.py
  tests/test_precision_float_field.py
  tests/test_timedelta_field.py
Due: fix-encoding-pragma, reorder-python-imports, black

Update mdformat to mitigate CVE-2023-26302
  poetry.lock
  pyproject.toml
Due: none

Bump version to 1.3
  peewee_plus.py
  pyproject.toml
Due: fix-encoding-pragma, reorder-python-imports, black

Add tests for timedelta field
  tests/test_timedelta_field.py
Due: fix-encoding-pragma, reorder-python-imports, black

Add docs for timedelta field
  README.md
Due: mdformat

Fix JSON field raising a db integrity error for app side data
  peewee_plus.py
Due: fix-encoding-pragma, reorder-python-imports, black

Update json field tests to account for error cases
  tests/test_json_field.py
Due: fix-encoding-pragma, reorder-python-imports, black

Update changelog for version 1.3.0
  CHANGELOG.md
Due: mdformat

Reorganize element docs into a table
  README.md
Due: mdformat

Add tests and classifiers for python 3.12
  .github/workflows/ci.yaml
  poetry.lock
  pyproject.toml
  tox.ini
Due: none

Bump version to 1.3.1
  peewee_plus.py
  pyproject.toml
Due: fix-encoding-pragma, reorder-python-imports, black

Add test dependencies to support testing on python 3.12
  poetry.lock
  pyproject.toml
  tox.ini
Due: none

Path conditions:
  fix-encoding-pragma: any of: \.py$
  reorder-python-imports: any of: \.py$
  black: any of: \.py$
  mdformat: any of: \.(md|markdown|mdown)$
