Repository enpaul/peewee-plus: changes, and which pre-commit hooks are due for each by the changed paths.
All: fix-encoding-pragma, reorder-python-imports, black, mdformat

.pre-commit-config.yaml:

---
repos:
  - repo: local
    hooks:
      - id: end-of-file-fixer
        name: end-of-file-fixer
        entry: end-of-file-fixer
        language: system
        types: [text]

      - id: fix-encoding-pragma
        name: fix-encoding-pragma
        entry: fix-encoding-pragma
        args:
          - "--remove"
        language: system
        types: [python]

      - id: trailing-whitespace-fixer
        name: trailing-whitespace-fixer
        entry: trailing-whitespace-fixer
        language: system
        types: [text]

      - id: check-merge-conflict
        name: check-merge-conflict
        entry: check-merge-conflict
        language: system
        types: [text]

      - id: reorder-python-imports
        name: reorder-python-imports
        entry: reorder-python-imports
        args:
          - "--unclassifiable-application-module=peewee_plus"
        language: system
        types: [python]

      - id: black
        name: black
        entry: black
        language: system
        types: [python]

      - id: blacken-docs
        name: blacken-docs
        entry: blacken-docs
        language: system
        types: [text]

      - id: mdformat
        name: mdformat
        entry: mdformat
        language: system
        args:
          - "--number"
          - "--wrap=90"
        types:
          - markdown

Remove support for python 3.6
  .github/scripts/setup-env.sh
  .github/workflows/ci.yaml
  Makefile
  peewee_plus.py
  poetry.lock
  pyproject.toml
  tox.ini
Due: fix-encoding-pragma, reorder-python-imports, black

Update CI to run non-platform checks on python-3.10
  .github/workflows/ci.yaml
  tox.ini
Due: none

Update changelog with version 1.1.1
  CHANGELOG.md
Due: mdformat

Fix documentation errors
  README.md
  peewee_plus.py
Due: fix-encoding-pragma, reorder-python-imports, black, mdformat

Update developer docs to specify poetry 1.2 and python 3.10
  README.md
Due: mdformat

Add python 3.11 pypi classifier
  poetry.lock
  pyproject.toml
  tox.ini
Due: none

Remove deprecated option from pylintrc
  .pylintrc
Due: none

Update pyproject to use dep groups
  poetry.lock
  pyproject.toml
Due: none

Update CI and toxfile to use new group structure
  .github/scripts/setup-env.sh
  .github/workflows/ci.yaml
  Makefile
  tox.ini
Due: none

Rename CI check stage to just 'check'
  .github/workflows/ci.yaml
Due: none

Pin virtualenv to bypass python-poetry/poetry-plugin-export#176
  poetry.lock
  pyproject.toml
Due: none

Add logic for using updated sqlite3 default var limit
  peewee_plus.py
Due: fix-encoding-pragma, reorder-python-imports, black

Update docs to point to new line numbers
  README.md
Due: mdformat

Update tests for calc batch size to accomodate new sqlite logic
  tests/test_calc_batch_size.py
Due: fix-encoding-pragma, reorder-python-imports, black

Update mypy to latest version
  poetry.lock
  pyproject.toml
Due: none

Bump version to 1.2.1
  peewee_plus.py
  pyproject.toml
Due: fix-encoding-pragma, reorder-python-imports, black

Update changelog for version 1.2.1
  CHANGELOG.md
Due: mdformat

Add timedelta field for storing timedelta objects
  peewee_plus.py
Due: fix-encoding-pragma, reorder-python-imports, black

Bump version to 1.3
  peewee_plus.py
  pyproject.toml
Due: fix-encoding-pragma, reorder-python-imports, black

Add check for __all__ items
  tests/test_meta.py
Due: fix-encoding-pragma, reorder-python-imports, black

Add tests for timedelta field
  tests/test_timedelta_field.py
Due: fix-encoding-pragma, reorder-python-imports, black

Clean up the tests
  tests/test_calc_batch_size.py
  tests/test_enum_field.py
  tests/test_json_field.py
  tests/test_path_field.py
  tests/test_precision_float_field.py
  tests/test_timedelta_field.py
Due: fix-encoding-pragma, reorder-python-imports, black

Update mdformat to mitigate CVE-2023-26302
  poetry.lock
  pyproject.toml
Due: none

Remove source code links from readme to support cross platform pubs
  CODE_OF_CONDUCT.md
  README.md
Due: mdformat

Add docs for timedelta field
  README.md
Due: mdformat
